body {
    font-family: "Lato", sans-serif;
    background-color: #312f2a!important;
  }
  

.jumbotron {
    background-color: white;
    margin-bottom: 4rem;
    margin-top: 3rem;
    
}

@media only screen and (max-width: 768px) {
  .column {
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  .column {
    width: 100%;
  }
}

@media only screen and (max-width: 320px) {
  .column {
    width: 100%;
  }
}

img {
  
  height: auto;
  max-width: 100%;

}

